.example-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #eee;
}
 svg
 {
  padding-right:10px;
 }

 .example-spacer {
  flex: 1 1 auto;
}
.toolbar-container
{
  background-color: #286968;
  height: 78px;
}

.sidenav-icon
{
  height: 43px;
  width:35px;
  padding-right: 10px;


}

.mat-list-base .mat-list-item {
  color: #286968;
  font-family: 'Poppins', sans-serif;
}

.mat-sidenav
{
  width:337px;
}

.header-icon
{
  align-content: center;
  margin-top: 17px;
  padding-left: 16px;
  height: 78px;
  width: 180px;
}

