.example-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #eee;
}
 svg
 {
  padding-right:10px;
 }

 .example-spacer {
  flex: 1 1 auto;
}
.toolbar-container
{
  background-color: #286968;
  height: 78px;
  color :white;
}

/* .header-list-item
{
  height: 78px;
} */
.header-list
{
  height: 78px;
  padding-top: 0px;
}

.sidenav-icon
{
  height: 35px;
  width:35px;
  padding-right: 10px;
}

.side-list
{
  padding-top: 0px;
}

.mat-list-base .mat-list-item {
  color: #286968;
  font-family: 'Poppins', sans-serif;
  padding-top: 0px;
}

mat-sidenav
{
  width:337px;
  background-color: #F8F8F8;
  background-image: url(../../assets/background.png);
  background-size: length;
  background-repeat: no-repeat;
  background-position: bottom;


}

.header-icon
{
  align-content: center;
  padding-top: 40px;
  padding-left: 3px;
  height: 39.25px;
  width: 180px;
}
